:root {
  /*fonts*/
  --main-font: "roboto", sans-serif;
  --secondary-font: "raleway", sans-serif;
  /*text color*/
  --main-tx-cl: #212121;
  --seccond-tx-cl: #757575;
  /*backround color*/
  --light-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --cl-active: #2196f3;
  --secondary-bg-cl: #f5f4fa;
}
body {
  font-family: var(--main-font);
  color: var(--main-tx-cl);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
img{
    display: block;
}
/*header*/
.header{
  border-bottom: 1px solid #ECECEC;
}
.header-container {
  display: flex;
  align-items: center;

  
}
.logo {
  font-family: var(--secondary-font);
  color: var(--main-tx-cl);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
}
.logo:hover,
.logo:focus {
  text-decoration: underline;
  text-decoration-color: var(--cl-active);
}
.logo-blu {
  color: var(--cl-active);
}
.header-link {
  display: inline-block;
  text-decoration: none;
  color: var(--main-tx-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link:hover,
.header-link:focus {
  color: var(--cl-active);
}
.nav-list {
  display: flex;
  gap: 50px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.header-link-active {
  color: var(--cl-active);
}
.tel,
.mail {
  color: var(--seccond-tx-cl);
}

/*hero*/
.hero {
max-width: 1600px;
margin-left: auto;
margin-right: auto;

  padding-top: 200px ;
  padding-bottom: 200px;
  background: rgba(47, 48, 58, 0.4);;
  background-image: url(../images/hero-img.jpg);
  background-size: 1600px 600px;
  background-repeat: no-repeat;
background-position: center;
}
.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-bg-cl);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  cursor: pointer;
  color: var(--light-bg-cl);
  background-color: var(--cl-active);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 9px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 11px;

  margin-left: auto;
  margin-right: auto;
}

/*Переваги*/
.benefits {
  padding-bottom: 0;
}
.benefits-list {
  display: flex;
  gap: 30px;
}
.benefits-list-item{
  width: 270px;
}
.benefits-title {
  color: var(--main-tx-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-text {
  color: var(--seccond-tx-cl);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*work*/

.work-title {
  color: var(--main-tx-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.work-list {
  display: flex;
  gap: 30px;
 
}
/*team*/
.team {
  background-color: var(--secondary-bg-cl);
}
.team-title {
  color: var(--main-tx-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}
.team-list-item {
  background-color: var(--light-bg-cl);
}
.team-text{
  padding-top: 30px;
  padding-bottom: 30px;
}
.name-worker {
  color: var(--main-tx-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

}
.profession {
  color: var(--seccond-tx-cl);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  
}
/* footer*/
.footer {
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link {
  color: #ffffff;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;


}
.footer-logo {
  color: var(--cl-active);
}
.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
  text-decoration-color: var(--cl-active);
}
.city-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  margin-top: 20px;
  margin-bottom: 9px;
  
}
.footer-contacts {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  margin-bottom: 9px;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--cl-active);
}

/*Portfolio*/
.portfolio {
  background-color: var(--light-bg-cl);
}
.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
.btn-portfolio {
  font-family: inherit;
  background-color: var(--secondary-bg-cl);
  color: var(--main-tx-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  border: none;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--cl-active);
  color: var(--light-bg-cl);
  cursor: pointer;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;
  flex-grow: calc(100%- (30px * 2) / 3);
}
.portfolio-link {
  text-decoration: none;
}
.portfolio-text{
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
}

.card-title {
  color: var(--main-tx-cl);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
 
}
.card-variety {
  color: var(--seccond-tx-cl);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

 
}
.portfolio-link:hover,
.portfolio-link:focus {
  text-decoration: underline;
  text-decoration-color: var(--cl-active);
}
